# Ignore all html files, should be pulled from an external source
*/__pycache__/
scripts/team_html_pages/**
/venv
# Mac OS irrelevant file
.DS_Store
src/data/__pycache__/
src/eval/__pycache__/
src/run/__pycache__/
plots/